// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$very-dark: #2C3333;
$dark: #435B66;
$light: #A76F6F;
$very-light: #EFE1D1;
