// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$very-dark: #5B6D5B;
$dark: #CA8A8B;
$light: #E2BCB7;
$very-light: #F6E6E4;

