.new-container{
  background-color: #0080801f;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 10px;
  width: 40%;
  display: flex;
  justify-content: left;
  align-items: flex-start;

  img{
    margin-right: 20px;
    border-radius: 12px;
    width: 140px;
  }

  h3{
    font-family: 'DM Serif Display', serif;
  }
}
