.background {
  margin-top: 20px;
  width: 100%;
  //display: flex;
  //justify-content: space-around;
  padding: 5px;

  .bookings_container{
    font-family: 'Libre Baskerville', serif;
  }

  .items_container{
    margin-top: 50px;
    font-family: 'Libre Baskerville', serif;
    border-radius: 10px;
  }

  h4 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10px;
  }

  img {
    width: 100px;
    border-radius: 30px;
  }

  .current-container {
    font-family: 'Libre Baskerville', serif;
    border-radius: 12px;
    padding: 15px;

    p{
      margin-top: 10px;
    }

    #kitchen-name{
      margin-left: 15px;
      margin-bottom: 0px;
      align-items: start;
    }
  }
}




.days_left{
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 15px;
  width: fit-content;

}

.kitchen-table{
  tr {
    border-bottom:  1px solid $light;
  }

  td {
    padding: 15px;
  }

  thead {
    background-color: $very-light;
    border-radius: 20px;

    th {
      padding: 15px;
    }
  }

}
