<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<%= simple_form_for([@kitchen, @booking]) do |f| %>
  <%= f.input :total_price %>
  <%= f.input :date %>
  <%= f.submit %>
<% end %>
