<p style="color: green"> You booked the <%= @booking.kitchen.name %></p>
<div class="card">
  <h3> <%=@booking.kitchen.name%></h3>
  <p> Price: <%=@booking.kitchen.price%>€/ day </p>
  <p> Total Price: €<%=@total_price%> </p>
</div>
