.categories {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.category {
  margin-top: 20px;
  margin-bottom:10px;
  font-size: small;
  align-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
}
.category:hover {
  border-bottom: 1px solid $very-dark; /* Adjust the color and thickness of the line as needed */
}

.category_name {
  margin-bottom: 0;
  margin-top: 10px;
}

.category_pic {
  width: 30px;
  height: 30px;
}
