.navbar-lewagon {
  justify-content: space-between;
  background: $secondary;
  border-width: 80%;
  border-radius: 50px;
  margin: 5px 5px auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
